HIDDEN_SIZE="256" # Default '64', Recommend On 256
HIDDEN_LAYER="2" # Default '2', Recommend On 3
INFLUX_URL="http://localhost:8086" # Change With Your InfluxDB
INFLUX_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
INFLUX_ORG="admin"